<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.dao.AlarmDao">
    <insert id="insertAlarm">
        insert into anchor_alarm values
        (
        null,
        #{alarmId},
        #{anchorId},
        #{anchorName},
        #{reason},
        #{status},
        #{startTime},
        #{endTime},
        #{finalDealId},
        #{finalDealName},
        #{dealRole}
        )
    </insert>
    <insert id="insertAlarmTrans">
        insert into anchor_alarm_trans values
        (
        null,
        #{alarmId},
        #{employeeId},
        #{username},
        #{role},
        #{isTimeout},
        #{isDelete},
        #{time}
        )
    </insert>
    <update id="setThresholdAndMaxNum">
        update sys_settings set threshold = #{newThreshold}, max_alarm_num = #{maxTipNum}
    </update>
    <update id="processAlarm">
        update anchor_alarm set status = #{operation}, end_time = #{endTime},
        final_deal_id = #{employeeId}, final_deal_name = #{employeeName}, deal_role = #{role}
        where alarm_id = #{alarmId}
    </update>
    <delete id="deleteAlert">
        update anchor_alarm_trans set is_delete = 1 where alarm_id = #{alarmId}
    </delete>

    <select id="getThreshold" resultType="java.lang.Integer">
        select threshold from sys_settings
    </select>
    <select id="getMaxTipNum" resultType="java.lang.Integer">
        select max_alarm_num from sys_settings
    </select>
    <select id="getSumTipNum" resultType="java.lang.Integer">
        select sum(tip_num) from anchor_tip_off
        where time between date_add(#{timeNow}, interval -#{threshold} minute) and #{timeNow}
        and anchor_id = #{anchorId}
        order by time
    </select>
    <select id="getAnchorIdByAlarm" resultType="java.lang.Integer">
        select anchor_id from anchor_alarm where alarm_id = #{alarmId}
    </select>
    <select id="getAlarms" resultType="com.zzz.model.AnchorAlarmTrans">
        select * from anchor_alarm_trans where employee_id = #{employeeId}
    </select>
    <select id="getAlarmById" resultType="com.zzz.model.AnchorAlarm">
        select * from anchor_alarm where alarm_id = #{alarmId}
    </select>
    <select id="getWaitingNum" resultType="java.lang.Integer">
        select count(*) from anchor_alarm where
        alarm_id in (select alarm_id from anchor_alarm_trans where employee_id = #{employeeId}) and status = 1
    </select>
    <select id="getAlarmsOverview" resultType="com.zzz.model.AnchorAlarm">
        select * from anchor_alarm where final_deal_id = #{employeeId} and start_time >= #{date}
    </select>
    <select id="getUndoAlarms" resultType="com.zzz.model.AnchorAlarmTrans">
        select * from
        (select * from anchor_alarm_trans where alarm_id in
        (select alarm_id from anchor_alarm where status = 1)
        order by time desc) as t
        group by t.alarm_id
    </select>
</mapper>