<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.dao.AnchorDataDao">

    <select id="getAnchorOnlineData" resultType="com.zzz.model.OnlineDatas.AnchorOnlineData">
        select * from anchor_realtime where anchor_id = #{anchorId} and time between DATE_ADD(#{datetime}, interval -1 DAY) and #{datetime}Q
    </select>
    <select id="getAnchorHistoryData" resultType="com.zzz.model.HistoryDatas.AnchorHistoryData">
        select * from anchor_history where anchor_id = #{anchorId} and date = #{date}
    </select>
    <select id="getAnchorHistoryDatas" resultType="com.zzz.model.HistoryDatas.AnchorHistoryData">
        select * from anchor_history where anchor_id = #{anchorId} and date between #{begin} and #{end} limit #{offset}, #{limit}
    </select>
    <select id="getHistoryDataNum" resultType="java.lang.Integer">
        select count(*) from anchor_history where anchor_id = #{anchorId} and date between #{begin} and #{end}
    </select>
    <select id="calAnchorHistoryFromRealtime" resultType="com.zzz.model.HistoryDatas.AnchorHistoryData">
        select anchor_id,
        avg(watch_num) as watch_num,
        sum(gift) as gift,
        avg(bullet_screen) as bullet_screen,
        max(watch_num) as max_watch_num,
        date_add(#{date}, interval -1 day) as date
        from anchor_realtime
        where time between date_add(#{date}, interval -1 day) and #{date}
        group by anchor_id
    </select>
</mapper>