<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.dao.AnchorDao">
    <insert id="banAnchor">
        insert into anchor_banned values (null,#{anchorId}, #{begin}, #{end}, #{reason})
    </insert>
    <insert id="fakeAnchorOnlineData">
        insert into anchor_online values (null, #{anchorId}, #{isOnline}, #{datetime})
    </insert>
    <update id="banAnchorByAlarm">
        insert into anchor_banned values (null, #{anchorId}, null, null, null)
    </update>

    <select id="getTotalNum" resultType="java.lang.Integer">
        select count(*) from anchor
    </select>
    <select id="getAnchorWithPagination" resultType="com.zzz.model.Anchor">
        select * from anchor limit #{offset}, #{limit}
    </select>
    <select id="getOnlineAnchorWithPagination" resultType="com.zzz.model.Anchor">
        select * from anchor a WHERE a.anchor_id IN(SELECT anchor_id FROM anchor_online WHERE is_online = 1) LIMIT #{offset}, #{limit}
    </select>
    <select id="getOnlineTotalNum" resultType="java.lang.Integer">
        select count(*) from anchor a WHERE a.anchor_id IN(SELECT anchor_id FROM anchor_online WHERE is_online = 1)
    </select>
    <select id="getAnchorById" resultType="com.zzz.model.Anchor">
        select * from anchor where anchor_id = #{anchorId}
    </select>

    <select id="branchHasPermission" resultType="java.lang.Integer">
        select count(*) from struc_manage where anchor_id = #{anchorId} and branch_id = #{branchId}
    </select>
    <select id="groupHasPermission" resultType="java.lang.Integer">
        select count(*) from struc_manage where anchor_id = #{anchorId} and group_id = #{groupId}
    </select>
    <select id="teamHasPermission" resultType="java.lang.Integer">
        select count(*) from struc_manage where anchor_id = #{anchorId} and team_id = #{teamId}
    </select>

    <select id="branchGetAnchors" resultType="com.zzz.model.Anchor">
        select * from anchor where anchor_id in (select anchor_id from struc_manage where branch_id = #{branchId}) limit #{offset}, #{limit}
    </select>
    <select id="groupGetAnchors" resultType="com.zzz.model.Anchor">
        select * from anchor where anchor_id in (select anchor_id from struc_manage where group_id = #{groupId}) limit #{offset}, #{limit}
    </select>
    <select id="teamGetAnchors" resultType="com.zzz.model.Anchor">
        select * from anchor where anchor_id in (select anchor_id from struc_manage where team_id = #{teamId}) limit #{offset}, #{limit}
    </select>

    <select id="branchGetOnlineAnchors" resultType="com.zzz.model.Anchor">
        select * from anchor where
        anchor_id in (select anchor_id from struc_manage where branch_id = #{branchId})
        and
        anchor_id in(SELECT anchor_id FROM anchor_online WHERE is_online = 1)
        limit #{offset}, #{limit}
    </select>
    <select id="groupGetOnlineAnchors" resultType="com.zzz.model.Anchor">
        select * from anchor where
        anchor_id in (select anchor_id from struc_manage where group_id = #{groupId})
        and
        anchor_id in(SELECT anchor_id FROM anchor_online WHERE is_online = 1)
        limit #{offset}, #{limit}
    </select>
    <select id="teamGetOnlineAnchors" resultType="com.zzz.model.Anchor">
        select * from anchor where
        anchor_id in (select anchor_id from struc_manage where team_id = #{teamId})
        and
        anchor_id in(SELECT anchor_id FROM anchor_online WHERE is_online = 1)
        limit #{offset}, #{limit}
    </select>
    <select id="recommendAnchors" resultType="com.zzz.model.Anchor">
        select * from
        (select A.*, watch_num
        from anchor as A join anchor_realtime as R on R.anchor_id = A.anchor_id
        ) t order by watch_num desc limit 3
    </select>
    <select id="getAnchorIds" resultType="java.lang.Integer">
        select anchor_id from anchor
    </select>
    <select id="getOnlineAnchorNum" resultType="java.lang.Integer">
        select count(*) from anchor_online where is_online = 1 and anchor_id in
        (select anchor_id from struc_manage where ${levelIdName} = #{levelId})
    </select>
    <select id="getTeamIdByAnchorId" resultType="java.lang.Integer">
        select team_id from struc_manage where anchor_id = #{anchorId}
    </select>

</mapper>