<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.dao.BranchDataDao">

    <select id="getBranchOnlineData" resultType="com.zzz.model.OnlineDatas.BranchOnlineData">
        select * from branch_realtime where branch_id = #{branchId} and time between DATE_ADD(#{datetime}, interval -1 DAY) and #{datetime}
    </select>
    <select id="getBranchHistoryData" resultType="com.zzz.model.HistoryDatas.BranchHistoryData">
        select * from branch_history where branch_id = #{branchId} and date = #{date}
    </select>
    <select id="getBranchHistoryDatas" resultType="com.zzz.model.HistoryDatas.BranchHistoryData">
        select * from branch_history where branch_id = #{branchId} and date between #{begin} and #{end} limit #{offset}, #{limit}
    </select>
    <select id="getHistoryDataNum" resultType="java.lang.Integer">
        select count(*) from branch_history where branch_id = #{branchId} and date between #{begin} and #{end}
    </select>
    <select id="calBranchRealtimeDataFromGroups" resultType="com.zzz.model.OnlineDatas.BranchOnlineData">
        select
        #{branchId} as branch_id,
        sum(watch_num) as watch_num,
        sum(gift) as gift,
        sum(bullet_screen) as bullet_screen,
        time as time
        from group_realtime where group_id in
        (select group_id from struc_manage where branch_id = #{branchId} group by group_id)
        and time = #{datetime}
    </select>
    <select id="getGroupOnlineRank" resultType="com.zzz.model.OnlineDatas.GroupOnlineData">
        select * from group_realtime where time =
        (select time from group_realtime where time &lt;= NOW() ORDER BY time desc limit 1)
        and group_id in
        (select group_id from struc_manage where branch_id = #{levelId} group by group_id)
    </select>
    <select id="getGroupHistoryRank" resultType="com.zzz.model.HistoryDatas.GroupHistoryData">
        select
        group_id as group_id,
        sum(watch_num) as watch_num,
        sum(gift) as gift,
        sum(bullet_screen) as bullet_screen
        from group_history as t
        where t.date BETWEEN #{begin} and #{end}
        GROUP BY t.group_id
        having group_id in (select group_id from struc_manage where branch_id = #{branchId} group by group_id)
    </select>
    <select id="calHistory" resultType="com.zzz.model.HistoryDatas.BranchHistoryData">
        select
        #{branchId} as branch_id,
        sum(watch_num) as watch_num,
        sum(gift) as gift,
        sum(bullet_screen) as bullet_screen,
        sum(max_watch_num) as max_watch_num,
        date as date
        from group_history where group_id in
        (select group_id from struc_manage where branch_id = #{branchId} group by group_id)
        and date = #{datetime}
    </select>
</mapper>