<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.dao.BranchDataDao">

    <select id="getBranchOnlineData" resultType="com.zzz.model.OnlineDatas.BranchOnlineData">
        select * from branch_realtime where branch_id = #{branchId} and time between DATE_ADD(#{datetime}, interval -1 DAY) and #{datetime}
    </select>
    <select id="getBranchHistoryData" resultType="com.zzz.model.HistoryDatas.BranchHistoryData">
        select * from branch_history where branch_id = #{branchId} and date = #{date}
    </select>
    <select id="getBranchHistoryDatas" resultType="com.zzz.model.HistoryDatas.BranchHistoryData">
        select * from branch_history where branch_id = #{branchId} and date between #{begin} and #{end} limit #{offset}, #{limit}
    </select>
    <select id="getHistoryDataNum" resultType="java.lang.Integer">
        select count(*) from branch_history where branch_id = #{branchId} and date between #{begin} and #{end}
    </select>
    <select id="calBranchRealtimeDataFromGroups" resultType="com.zzz.model.OnlineDatas.BranchOnlineData">
        select
        #{branchId} as branch_id,
        sum(watch_num) as watch_num,
        sum(gift) as gift,
        sum(bullet_screen) as bullet_screen,
        time as time
        from group_realtime where group_id in
        (select group_id from struc_manage where branch_id = #{branchId} group by group_id)
        and time = #{datetime}
    </select>
</mapper>