<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.dao.FakeDataDao">

    <insert id="insertAnchors" parameterType="java.util.List">
        insert into anchor
        (anchor_id, room_id, name, nickname, phone)
        values
        <foreach collection="list" item="anchor" index="index" separator=",">
            (
            #{anchor.anchorId},
            #{anchor.roomId},
            #{anchor.name},
            #{anchor.nickname},
            #{anchor.phone}
            )
        </foreach>
    </insert>
    <insert id="insertUserDetails" parameterType="java.util.List">
        insert into sys_user_details
        (employee_id, username, name, gender, nickname, avatar, role)
        values
        <foreach collection="list" item="sysUserDetails" index="index" separator=",">
            (
            #{sysUserDetails.employeeId},
            #{sysUserDetails.username},
            #{sysUserDetails.name},
            #{sysUserDetails.gender},
            #{sysUserDetails.nickname},
            #{sysUserDetails.avatar},
            #{sysUserDetails.role}
            )
        </foreach>
    </insert>
    <insert id="insertUsers" parameterType="java.util.List">
        insert into sys_user
        (employee_id, username, password, role)
        values
        <foreach collection="list" item="sysUser" index="index" separator=",">
            (
            #{sysUser.employeeId},
            #{sysUser.username},
            #{sysUser.password},
            #{sysUser.role}
            )
        </foreach>
    </insert>
    <insert id="insertIntoTotal">
        insert into struc_total values (null, #{totalId}, #{levelName}, #{employeeId})
    </insert>
    <insert id="insertIntoBranch">
        insert into struc_branch values (null, #{branchId}, #{levelName}, #{employeeId})
    </insert>
    <insert id="insertIntoGroup">
        insert into struc_group values (null, #{groupId}, #{levelName}, #{employeeId})
    </insert>
    <insert id="insertIntoTeam">
        insert into struc_team values (null, #{teamId}, #{levelName}, #{employeeId})
    </insert>
    <insert id="insertStrucManage">
        insert into struc_manage value (null, #{anchorId}, #{teamId}, #{groupId}, #{branchId})
    </insert>

    <insert id="insertRealtimeData" parameterType="java.util.List">
        insert into anchor_realtime
        (anchor_id, watch_num, gift, bullet_screen, time)
        values
        <foreach collection="list" item="anchorOnlineData" index="index" separator=",">
            (
            #{anchorOnlineData.anchorId},
            #{anchorOnlineData.watchNum},
            #{anchorOnlineData.gift},
            #{anchorOnlineData.bulletScreen},
            #{anchorOnlineData.time}
            )
        </foreach>
    </insert>
    <insert id="insertTeamRealtimeData">
        insert into team_realtime
        (team_id, watch_num, gift, bullet_screen, time)
        values
        <foreach collection="list" item="teamOnlineData" index="index" separator=",">
            (
            #{teamOnlineData.teamId},
            #{teamOnlineData.watchNum},
            #{teamOnlineData.gift},
            #{teamOnlineData.bulletScreen},
            #{teamOnlineData.time}
            )
        </foreach>
    </insert>
    <insert id="insertGroupRealtimeData">
        insert into group_realtime
        (group_id, watch_num, gift, bullet_screen, time)
        values
        <foreach collection="list" item="groupOnlineData" index="index" separator=",">
            (
            #{groupOnlineData.groupId},
            #{groupOnlineData.watchNum},
            #{groupOnlineData.gift},
            #{groupOnlineData.bulletScreen},
            #{groupOnlineData.time}
            )
        </foreach>
    </insert>
    <insert id="insertBranchRealtimeData">
        insert into branch_realtime
        (branch_id, watch_num, gift, bullet_screen, time)
        values
        <foreach collection="list" item="branchOnlineData" index="index" separator=",">
            (
            #{branchOnlineData.branchId},
            #{branchOnlineData.watchNum},
            #{branchOnlineData.gift},
            #{branchOnlineData.bulletScreen},
            #{branchOnlineData.time}
            )
        </foreach>
    </insert>
    <insert id="insertTotalRealtimeData">
        insert into total_realtime
        (total_id, watch_num, gift, bullet_screen, time)
        values
        ( #{totalId}, #{watchNum}, #{gift}, #{bulletScreen}, #{time})
    </insert>


    <select id="queryAllUserDetails" resultType="com.zzz.model.SysUserDetails">
        select * from sys_user_details
    </select>
    <select id="queryAllUsers" resultType="com.zzz.model.SysUser">
        select * from sys_user
    </select>
</mapper>