<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.dao.GroupDataDao">

    <select id="getGroupOnlineData" resultType="com.zzz.model.OnlineDatas.GroupOnlineData">
        select * from group_realtime where group_id = #{groupId} and time between DATE_ADD(#{datetime}, interval -1 DAY) and #{datetime}
    </select>
    <select id="getGroupHistoryData" resultType="com.zzz.model.HistoryDatas.GroupHistoryData">
        select * from group_history where group_id = #{groupId} and date = #{date}
    </select>
    <select id="getGroupHistoryDatas" resultType="com.zzz.model.HistoryDatas.GroupHistoryData">
        select * from group_history where group_id = #{groupId} and date between #{begin} and #{end} limit #{offset}, #{limit}
    </select>
    <select id="getHistoryDataNum" resultType="java.lang.Integer">
        select count(*) from group_history where group_id = #{groupId} and date between #{begin} and #{end}
    </select>
    <select id="calGroupRealtimeDataFromTeams" resultType="com.zzz.model.OnlineDatas.GroupOnlineData">
        select
        #{groupId} as group_id,
        sum(watch_num) as watch_num,
        sum(gift) as gift,
        sum(bullet_screen) as bullet_screen,
        time as time
        from team_realtime where team_id in
        (select team_id from struc_manage where group_id = #{groupId} group by team_id)
        and time = #{datetime}
    </select>
    <select id="getTeamOnlineRank" resultType="com.zzz.model.OnlineDatas.TeamOnlineData">
        select * from team_realtime where time =
        (select time from team_realtime where time &lt;= NOW() ORDER BY time desc limit 1)
        and team_id in
        (select team_id from struc_manage where group_id = #{levelId} group by team_id)
    </select>
    <select id="getTeamHistoryRank" resultType="com.zzz.model.HistoryDatas.TeamHistoryData">
        select
        team_id as team_id,
        sum(watch_num) as watch_num,
        sum(gift) as gift,
        sum(bullet_screen) as bullet_screen
        from team_history as t
        where t.date BETWEEN #{begin} and #{end}
        GROUP BY t.team_id
        having team_id in (select team_id from struc_manage where group_id = #{groupId} group by team_id)
    </select>
    <select id="calHistory" resultType="com.zzz.model.HistoryDatas.GroupHistoryData">
        select
        #{groupId} as group_id,
        sum(watch_num) as watch_num,
        sum(gift) as gift,
        sum(bullet_screen) as bullet_screen,
        sum(max_watch_num) as max_watch_num,
        date as date
        from team_history where team_id in
        (select team_id from struc_manage where group_id = #{groupId} group by team_id)
        and date = #{datetime}
    </select>
</mapper>