<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.dao.TotalDataDao">

    <select id="getTotalOnlineData" resultType="com.zzz.model.OnlineDatas.TotalOnlineData">
        select * from total_realtime where total_id = #{totalId}
    </select>
    <select id="getTotalHistoryData" resultType="com.zzz.model.HistoryDatas.TotalHistoryData">
        select * from total_history where total_id = #{totalId} and date = #{date}
    </select>
    <select id="getTotalHistoryDatas" resultType="com.zzz.model.HistoryDatas.TotalHistoryData">
        select * from total_history where total_id = #{totalId} and date between #{begin} and #{end} limit #{offset}, #{limit}
    </select>
    <select id="getHistoryDataNum" resultType="java.lang.Integer">
        select count(*) from total_history where total_id = #{totalId} and date between #{begin} and #{end}
    </select>
    <select id="calTotalRealtimeDataFromBranchs" resultType="com.zzz.model.OnlineDatas.TotalOnlineData">
        select
        #{totalId} as total_id,
        sum(watch_num) as watch_num,
        sum(gift) as gift,
        sum(bullet_screen) as bullet_screen,
        time as time
        from branch_realtime where branch_id in
        (select branch_id from struc_manage group by branch_id)
        and time = #{datetime}
    </select>
</mapper>