<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.dao.SysUserDao">


    <select id="getTotalNum" resultType="java.lang.Integer">
        select count(*) from sys_user
    </select>
    <select id="getUserWithPagination" resultType="com.zzz.model.SysUser">
        select * from sys_user limit #{offset}, #{limit}
    </select>

</mapper>